<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-md-10">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="green">
                                    <i class="material-icons">perm_identity</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Cotizaciones  -
                                        <small class="category">Creacion de Cotizaciones</small>
                                    </h4>
                                    <form>
                                       
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Referencia</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                        <label class="control-label">Proveedor</label>
                                                        <select name="unidad" class="form-control">
                                                            <option disabled="" selected=""></option>
                                                            <option value="1">Proveedor 1 </option>
                                                            <option value="2"> Proveedor 2 </option>
                                                        </select>
                                                     </div>
                                            </div>

                                            <div class="col-md-5">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Descripcion</label>
                                                        <input type="text" class="form-control">
                                                    </div>
                                                </div>
                                            <div class="col-md-2">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Fecha Final</label>
                                                         <input type="text" class="form-control datetimepicker" />
                                                       
                                                </div>
                                            </div>
                                            
                                        </div>
                                      
                                     
                                        <button type="submit" class="btn btn-rose pull-right" (click)=setItem()>Crear Cotizacion</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    