<div class="main-content">
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-10">
                        <div class="card">
                            <div class="card-header card-header-icon" data-background-color="rose">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">{{ref}}  -
                                    <small class="category">{{nombre}}</small>
                                </h4>
                                <form >
                                 <div *ngIf="!newgrupo">
                                    <div  class="row">
                                        <div class="col-md-3">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Referencia</label>
                                                <input name="ref" type="text" class="form-control" #ref2>
                                            </div>
                                        </div>
                                       
                                        <div class="col-md-5">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Proyecto</label>
                                                <select name="item" class="form-control" #item>
                                                    <option disabled="" selected=""></option>   
                                                    <option   *ngFor="let row of proy" value='{{row[2]}}'>{{row[2]}} </option>
                                                    
                                                </select>
                                             </div>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Estado</label>
                                                <select name="Unidad" class="form-control">
                                                    <option disabled="" selected=""></option>
                                                    <option value="1">Por Aprobacion </option>
                                                    <option value="2">Aprobado </option>
                                                </select>
                                            </div>
                                        </div>
                                            
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Observaciones</label>
                                                <textarea class="form-control"  rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div>                                      
                                            <button  class="btn btn-rose pull-right" (click)=CreadoGrupo(ref2.value,item.value)>Crear Presupuesto</button>
                                            <div class="clearfix"></div>
                                        </div>
                                   
                                    </div>
                                 </div>

                                    <div *ngIf="newgrupo">
                                        <div class="row">
                                            <div class="col-md-5">                                                   
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Grupo</label>
                                                    <select name="item" class="form-control" #grupito>
                                                        <option disabled="" selected=""></option>   
                                                        <option   *ngFor="let row of grupos" value='{{row[2]}}'>{{row[2]}} </option>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Cantidad</label>
                                                    <input type="text" class="form-control" #cantidad >
                                                </div>
                                            </div>
                                            
                                        
                                             <div class="form-group label-floating">
                                                <button type="submit" class="btn btn-rose pull-left  btn-sm" (click)=addItem(ref,grupito.value,cantidad.value)>Agregar Item</button>
                                             </div>  
                                        </div>
                                            
                                        <div class="row">
                                                <div class="col-md-10">
                                                    <div class="card">
                                                       
                                                        <div class="card-content">
                                                                <div class="table-responsive">
                                                                        <table class="table">
                                                                               
                                                                              <tbody>
                                                                                  <tr *ngFor="let row of presoGrupos ; let i = index" [attr.data-index]="i">
                                                                                      <td class="text-center">{{row[0]}}</td>
                                                                                      <td>{{row[1]}}</td>
                                                                                      <td>{{row[2]}}</td>
                                                                                      <td>{{row[3]}}</td>
                                                                                      
                                                                                      <td class="td-actions text-right">
                                                                                        
                                                                                          
                                                                                          <button type="button" rel="tooltip" class="btn btn-danger btn-simple" (click)="borrarItem(i)">
                                                                                                <i class="material-icons">close</i>
                                                                                            </button>
                                                                                      </td>
                                                                                  </tr>
                                                                              </tbody>
                                                                        </table>
                                                                    </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                    </div>                   
                                
                                </form>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="row">
                <div class="col-md-10">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="card-title">Presupuesto</h4>
                            <p class="category">Ultimos Creados</p>
                        </div>
                        <div class="card-content">
                                <div class="table-responsive">
                                        <table class="table">
                                               
                                              <tbody>
                                                  <tr *ngFor="let row of presu ; let i = index" [attr.data-index]="i">
                                                      <td class="text-center">{{row[0]}}</td>
                                                      <td>{{row[1]}}</td>
                                                      <td>{{row[2]}}</td>
                                                      <td>{{row[3]}}</td>
                                                      
                                                      <td class="td-actions text-right">
                                                        
                                                          <button type="button" rel="tooltip" class="btn  btn-simple" (click)="editGrupo(row[0])">
                                                              <i class="material-icons">edit</i>
                                                          </button>
                                                          <button type="button" rel="tooltip" class="btn btn-danger btn-simple" (click)="borrarGrupo(i)">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                      </td>
                                                  </tr>
                                              </tbody>
                                        </table>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Collapsible Accordion</h4>
                        </div>
                        <div class="card-content">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <h4 class="panel-title">
                                                Collapsible Group Item #1
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <h4 class="panel-title">
                                                Collapsible Group Item #2
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <h4 class="panel-title">
                                                Collapsible Group Item #3
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Navigation Pills Icons -
                                <small class="category">Vertical Tabs</small>
                            </h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="nav nav-pills nav-pills-icons nav-pills-rose nav-stacked" role="tablist">
                                        <!--
                            color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                        -->
                                        <li class="active">
                                            <a href="#dashboard-2" role="tab" data-toggle="tab">
                                                <i class="material-icons">dashboard</i> Dashboard
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#schedule-2" role="tab" data-toggle="tab">
                                                <i class="material-icons">schedule</i> Schedule
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-8">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="dashboard-2">
                                            Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                            <br />
                                            <br /> Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                            <br />
                                            <br /> Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                        </div>
                                        <div class="tab-pane" id="schedule-2">
                                            Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                                            <br />
                                            <br /> Dramatically maintain clicks-and-mortar solutions without functional solutions. Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

















    